<h1>Chat room</h1>

<div>
  <input [formControl]="name" pInputText placeholder="Name" />
  <input [formControl]="roomNumber" pInputText placeholder="Room number" />
  <p-button (click)="handleSubmit()">submit</p-button>
</div>

@for (message of connectedAlertMessages; track $index) {
<p>{{ message }}</p>
}

<div class="message-container">
  @if (messages && messages.length > 0) {
  <h3>Messages</h3>

  <div class="messages">
    @for (message of messages; track $index) {
    <p>{{ message.name }} : {{ message.message }}</p>
    }
  </div>

  }
</div>
@if (connectedAlertMessages.length > 0) {

<div class="send">
  <input pInputText [formControl]="message" type="text" />
  <p-button (onClick)="sendMessage()">Send</p-button>
</div>

}
